ANSWER NO :- 01

In [1]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

# Create a Pandas Series with the given data
data = [4, 8, 15, 16, 23, 42]

my_series = pd.Series(data)

# Print the series
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

This is the default representation of a Pandas Series, which includes an index and the corresponding values. The index here is generated automatically, starting from 0.

ANSWER NO :- 02

In [7]:
import pandas as pd

# Create a list with 10 elements
my_list = ["pw-skills", 2, 3, "Data science", 5, 6, "Shudh sir", 8, 9, 10]

# Apply the pandas Series function on the list
my_series = pd.Series(my_list)

# Print the resulting series
print(my_series)

0       pw-skills
1               2
2               3
3    Data science
4               5
5               6
6       Shudh sir
7               8
8               9
9              10
dtype: object

the Pandas Series created from the list, with default index values starting from 0.

ANSWER NO :- 03

In [8]:
import pandas as pd

# Define the data as a dictionary

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

# Create a Pandas DataFrame

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

ANSWER NO :- 04

In Pandas, a DataFrame is a two-dimensional, tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table, where data is organized in rows and columns. Each column in a DataFrame can be of a different data type, and we can perform various operations on the data, such as filtering, grouping, and merging.

On the other hand, a Series is a one-dimensional labeled array in Pandas. It can be thought of as a single column of a DataFrame. A DataFrame is essentially a collection of Series objects with the same index.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [10]:
import pandas as pd

# Example DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df = pd.DataFrame(data)

# Example Series (extracting the 'Age' column from the DataFrame)
age_series = df['Age']

# Print the DataFrame
print("DataFrame:")
print(df)
print()
print()

# Print the Series
print("Series (Age column):")
print(age_series)

DataFrame:
     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female


Series (Age column):
0    25
1    30
2    27
Name: Age, dtype: int64

In this example, df is a DataFrame with three columns ('Name', 'Age', 'Gender'), and age_series is a Series containing the 'Age' column from the DataFrame. While a DataFrame is a two-dimensional structure with both rows and columns, a Series is a one-dimensional structure representing a single column. The Series retains the index information from the DataFrame, and we can perform operations on it just like any other Pandas Series.

ANSWER NO :- 05

Pandas provides a wide range of functions for manipulating data in a DataFrame. Here are some common functions along with examples:

head() and tail():- These functions are used to display the first (head) or last (tail) few rows of a DataFrame.


describe():- Provides summary statistics of the numeric columns in the DataFrame.

info():- Prints a concise summary of the DataFrame, including data types and non-null values.
Used for label-based and integer-location based indexing, respectively.


set_index():- sets the DataFrame index using existing columns.

reset_index():- Resets the DataFrame index to the default integer index.

groupby():- Used for grouping data based on some criteria and applying a function to each group.

sort_values():- Sorts the DataFrame by one or more columns.

drop():- Used to remove rows or columns from the DataFrame.

apply() :-Applies a function along the axis of the DataFrame.

In [20]:
import pandas as pd

# Sample DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Claire', 'David', 'Emma'],
    'Age': [25, 30, 27, 22, 28],
    'Gender': ['Female', 'Male', 'Female', 'Male', 'Female'],
    'Grade': [85, 92, 78, 88, 95]
}
df = pd.DataFrame(data)

# Display the DataFrame
print("Original DataFrame:")
print(df)
print()

# 1. head() and tail()
print("First 2 rows:")
print(df.head(2))
print()

# 2. describe()
print("Summary statistics:")
print(df.describe())
print()

# 3. info()
print("DataFrame information:")
print(df.info())
print()

# 4. loc[] and iloc[]
print("Subset based on label and integer location:")
print(df.loc[1:3, ['Name', 'Age']])
print()

# 5. set_index()
df.set_index('Name', inplace=True)
print("DataFrame after setting 'Name' as index:")
print(df)
print()

# 6. reset_index()
df.reset_index(inplace=True)
print("DataFrame after resetting index:")
print(df)
print()

# 7. groupby()
print("Mean age by gender:")
print(df.groupby('Gender')['Age'].mean())
print()

# 8. sort_values()
print("DataFrame sorted by 'Age' in descending order:")
print(df.sort_values(by='Age', ascending=False))
print()

# 9. drop()
df.drop('Gender', axis=1, inplace=True)
print("DataFrame after dropping 'Gender' column:")
print(df)
print()

# 10. apply()
print("Square of each element in the 'Age' column:")
print(df['Age'].apply(lambda x: x**2))

Original DataFrame:
     Name  Age  Gender  Grade
0   Alice   25  Female     85
1     Bob   30    Male     92
2  Claire   27  Female     78
3   David   22    Male     88
4    Emma   28  Female     95

First 2 rows:
    Name  Age  Gender  Grade
0  Alice   25  Female     85
1    Bob   30    Male     92

Summary statistics:
            Age      Grade
count   5.00000   5.000000
mean   26.40000  87.600000
std     3.04959   6.580274
min    22.00000  78.000000
25%    25.00000  85.000000
50%    27.00000  88.000000
75%    28.00000  92.000000
max    30.00000  95.000000

DataFrame information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   Gender  5 non-null      object
 3   Grade   5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 288.0+ bytes
None

Subset based on label and integer location:
     Name  Age
1     Bob   30
2  Claire   27
3   David   22

DataFrame after setting 'Name' as index:
        Age  Gender  Grade
Name
Alice    25  Female     85
Bob      30    Male     92
Claire   27  Female     78
David    22    Male     88
Emma     28  Female     95

DataFrame after resetting index:
     Name  Age  Gender  Grade
0   Alice   25  Female     85
1     Bob   30    Male     92
2  Claire   27  Female     78
3   David   22    Male     88
4    Emma   28  Female     95

Mean age by gender:
Gender
Female    26.666667
Male      26.000000
Name: Age, dtype: float64

DataFrame sorted by 'Age' in descending order:
     Name  Age  Gender  Grade
1     Bob   30    Male     92
4    Emma   28  Female     95
2  Claire   27  Female     78
0   Alice   25  Female     85
3   David   22    Male     88

DataFrame after dropping 'Gender' column:
     Name  Age  Grade
0   Alice   25     85
1     Bob   30     92
2  Claire   27     78
3   David   22     88
4    Emma   28     95

Square of each element in the 'Age' column:
0    625
1    900
2    729
3    484
4    784
Name: Age, dtype: int64

ANSWER NO :- 06

In Pandas:

Series: A Pandas Series is mutable, meaning you can modify its elements. You can change values, add or remove elements, and perform other modifications.

DataFrame: Similarly, a Pandas DataFrame is mutable. You can modify the contents of cells, add or remove rows and columns, and perform various operations to change the structure or values within the DataFrame.

Panel: The Panel structure in Pandas has been deprecated since version 0.25.0, and it's recommended to use the MultiIndex DataFrame instead. However, if you are dealing with Panel-like operations, MultiIndex DataFrames can be used. MultiIndex DataFrames are mutable, like regular DataFrames.

In summary, both Series and DataFrame are mutable in nature.

ANSWER NO :- 07

In [21]:
import pandas as pd

# Creating multiple Series
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

# Creating a DataFrame using the Series
data = {
    'Name': name_series,
    'Age': age_series,
    'Gender': gender_series
}
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In this example, three Series (name_series, age_series, and gender_series) are created, each representing a column of the DataFrame. These Series are then combined into a dictionary (data), where the keys are the column names, and the values are the corresponding Series. Finally, the dictionary is used to create a Pandas DataFrame (df).