     ANSWER N0 :- 1

In Python, We can use the ## symbol to add comments to your code. Comments in Python are used to provide explanations or annotations for the code and are ignored by the Python interpreter. There are two main types of comments in Python:

Type - 1

Single -Line comments:- It start with the # or ## symbol and continue until the end of the line. They are used for adding brief explanations or notes

In [1]:
a =10    # This is single line comment..

Type - 2

Multi-line Comments (Docstrings):- It is often created using triple-quotes (''' or """). While technically not comments, they are used as documentation strings or docstrings. Docstrings are commonly used to provide documentation for functions, modules, or classes.

In [4]:
""" This is multi - line comments ,
It provides additional information about the code"""

v = 12

    ANSWER NO :- 2

In Python, a variable is a symbolic name or identifier that represents a value stored in the computer's memory. Variables are used to store and manipulate data in a program. In Python, you don't need to explicitly declare the data type of a variable. The data type is dynamically inferred based on the value assigned to it.

In [7]:
# Declaration and assignment of a variable

# Example:
age = 25
name = "John"
salary = 50000.50
is_student = True

Age is assigned the value 25 which is INTEGER.
Name is assigned the STRING value "John".
Salary is assigned the FLOATING-POINT value 50000.50.
Is_student is assigned the BOOLEAN value True

    ANSWER NO :- 3

In Python, We can convert one data type to another using type conversion functions or by using Implicit Type Conversion (Coercion) for certain data types.

In [12]:
''' TYPE CONVERSION FUNCTION.
WE CAN CONVERT ONE DATA TYPE TO ANOTHER'''

float_no = 234.56
int_no = int(float_no)

string_no = "34567"
int_from_string = int(string_no)
                                     
bool_value = True
int_from_bool = int(bool_value)

print(int_no, int_from_string, int_from_bool)

234 34567 1

In [13]:
""" IMPLICIT TYPE CONVERSION.
In some cases, Python will automatically perform type conversion for Us.
For example, when performing operations between different data types,
Python may implicitly convert one type to another."""

num1 = 5
num2 = 2.0
result = num1 + num2  # Here, num1 is implicitly converted to a float before the addition.
print(result)

7.0

   ANSWER NO :- 4

Writing a Python Script:

1.Open a text editor (such as Notepad, VSCode, Sublime Text, etc.).

2.Write your Python code in the text editor and save the file with a .py extension. For example, myscript.py

In [14]:
""" Exmple"""

# myscript.py

print("Hello, Python!")

Hello, Python!

EXECUTING A PYTHON SCRIPT:-

1.Open a command prompt or terminal on our computer.

2.Navigate to the directory where your Python script is saved using the cd command (Change Directory).

(cd path/to/your/script/directory)

3.Run the Python script using the python command followed by the script's filename.

(python myscript.py)

4.If we are using Python 3, we might need to use python3 instead of python:

(python3 myscript.py)

    ANSWER NO :- 5

In [15]:
my_list = [1,2,3,4,5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

Explanation:

<> my_list[1:3] selects elements from index 1 up to, but not including, index 3.
<> The result is a new list [2, 3] containing the elements at indices 1 and 2 from the original list

   ANSWER NO :- 6

In mathematics, a complex number is a number of the form a+bi, where a and b are real numbers, and i is the imaginary unit, which is defined by i**2 = -1. The real part a is a regular real number, and the imaginary part b is a real number multiplied by the imaginary unit i.

In Python, complex numbers are represented using the complex data type. The imaginary unit is denoted by 'j' in Python. The syntax for creating a complex number is:

In [16]:
complex_number = 2 + 5j

    ANSWER NO :- 7

In [17]:
age = 25

In this single line of code, the variable age is declared and assigned the value 25. Python is dynamically typed, so we don't need to explicitly specify the data type of the variable; it will be inferred based on the assigned value. In this case, age is inferred to be an integer.

   ANSWER NO :- 8

In [18]:
price = 9.99
type(price)

float

This variable "price" belong to float data type

  ANSWER NO :- 9

In [23]:
name = " Shadab Ashraf "

## For printing the value of the string we are going to use the print function;;

print("My name is:",name)

My name is:  Shadab Ashraf

   ANSWER N0 :- 10

In [25]:
string = "Hello, World"
sub_string = string[7:12]
print(sub_string)

World

   ANSWER NO :- 11

In [26]:
is_student = True  # Change this to False if you are not currently a student

# Print the value of the variable

print("Am I currently a student?", is_student)

Am I currently a student? True